*{
    padding: 0;
    margin: 0;
    font-family:'Quicksand', sans-serif;
    color: black;
}

.container {
    width: 90%;
    margin: 0 auto;
}
.container::after {
    content: '';
    display: block;
    clear: both;
}



@media (max-width: 768px){
    .mobile-menu {
        display: block;
    }
    header ul {
        display: none;
    }
    .col-4{
        width: 60%;
    }
    .col-3{
        width: 100%;
    }
}